$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$zindex-dropdown:          1000 !default;
$zindex-sticky:            1020 !default;
$zindex-fixed:             1030 !default;
$zindex-modal-backdrop:    1040 !default;
$zindex-modal:             1050 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;

@mixin media-breakpoint-up($screen) {
  @media (min-width: $screen) {
    @content;
  }
}

@include media-breakpoint-up($sm) {

}
@include media-breakpoint-up($md) {

}
@include media-breakpoint-up($lg) {

}
@include media-breakpoint-up($xl) {

}

.nav-link:active, .nav-link:focus, .nav-link:hover{
  outline: 0;
}
.navbar .nav-item.avatar .dropdown-toggle img{
  height: 35px;
}
.nav-tabs {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  border: 0;
  padding: .7rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: -20px;
  background-color: #2bbbad;
  z-index: 1;
  position: relative;
  -webkit-border-radius: .25rem;
  border-radius: .25rem;
  .nav-link {
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    border: 0;
    color: #fff;
  }
  .nav-link.active{
    background-color: rgba(0,0,0,.2);
    color: #fff;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
  }
}
.md-form input[type=date].invalid+label:after, .md-form input[type=date]:focus.invalid+label:after, .md-form input[type=datetime-local].invalid+label:after, .md-form input[type=datetime-local]:focus.invalid+label:after, .md-form input[type=email].invalid+label:after, .md-form input[type=email]:focus.invalid+label:after, .md-form input[type=number].invalid+label:after, .md-form input[type=number]:focus.invalid+label:after, .md-form input[type=password].invalid+label:after, .md-form input[type=password]:focus.invalid+label:after, .md-form input[type=search-md].invalid+label:after, .md-form input[type=search-md]:focus.invalid+label:after, .md-form input[type=search].invalid+label:after, .md-form input[type=search]:focus.invalid+label:after, .md-form input[type=tel].invalid+label:after, .md-form input[type=tel]:focus.invalid+label:after, .md-form input[type=text].invalid+label:after, .md-form input[type=text]:focus.invalid+label:after, .md-form input[type=time].invalid+label:after, .md-form input[type=time]:focus.invalid+label:after, .md-form input[type=url].invalid+label:after, .md-form input[type=url]:focus.invalid+label:after, .md-form textarea.md-textarea.invalid+label:after, .md-form textarea.md-textarea:focus.invalid+label:after{
  width: max-content;
}

